body {
	color: white;
	background-color: black;
}


.active {
	background-color: green;
}

.inactive {
	background-color: black;
}

td, tr {
	border: 2px solid white;
	text-align: center;
	font-weight: bold;
	opacity: 75%;
}

td {
	width: 100px;
	height: 100px;
}