body {
	background-image: url('../images/DarkEmberCrab.jpg');
	background-size: cover;
}

#votes {
	background-image: url('../images/background1.PNG');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
	min-height: 150px;
	max-width: 500px;
}

#votes-list {
	padding-top: 20px;
	padding-left: 20px;
}